* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Abril Fatface", cursive;
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* header css  */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* logo css  */

.logo {
    display: flex;
    /* border: 2px solid white; */
    justify-items: center;
}

.logo img {
    /* border: 2px blue solid; */
    height: 100px;
}


/* hambuurgeer menu  */

#ham {
    display: none;
    height: 50px;
    position: absolute;
    right: 4%;
    top: 1%;
    z-index: 2;
}

#hamcross {
    display: none;
    height: 30px;
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 1;
}


/* navigation bar css  */

.navbar ul {
    display: flex;
    justify-content: end;
    /* border: 2px solid white; */
    /* flex-grow: 2; */
    /* flex-shrink: 10; */
}

.navbar li {
    display: inline-block;
    /* border: 1px white solid; */
    margin: 10px 10px;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Lobster", cursive;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
    transition: all 1s ease-in-out 0.1s;
}

.navbar li a:hover {
    color: yellow;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5em;
    background-color: #8181eb74;
    border-radius: 10px;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* login for login panal  */

.login {
    /* border: 2px gray solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
    box-shadow: 34px 32px 60px -2px rgb(0, 30, 255);
    height: 550px;
    width: 400px;
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 582px 550px;
}


/* .loginbox for box aside on login panal */

.loginbox {
    height: 489px;
    width: 328px;
    border-radius: 10px;
    background-color: rgba(7, 7, 46, 0.686);
    background-repeat: no-repeat;
    background-size: 420px 444px;
    opacity: 0.9;
    border-right: 4px solid #ff00c8;
    border-bottom: 4px solid #ff00c8;
    border-top: 3px solid white;
    border-left: 3px solid white;
    box-shadow: 34px 32px 60px -2px rgb(0, 110, 255);
}

.logintext {
    /* border: 2px white solid; */
    /* margin: 20px auto; */
    height: 50px;
    padding: 2px 2px;
    padding-top: 12px;
    text-align: right;
    color: white;
    font-size: 20px;
}

.logintext h2 {
    font-family: "Abril Fatface", cursive;
    font-weight: bold;
}

.label {
    color: white;
    font-family: "Lobster";
    font-size: 22px;
    font-weight: bolder;
}

.user {
    /* border: 2px white solid; */
    width: 244px;
    margin: 30px auto;
    height: 50px;
}

.bar {
    color: white;
    width: 100%;
    height: 45px;
    border-left: 4px solid #ff00ff;
    border-top: 4px solid #ff00ff;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    background-color: rgba(0, 6, 92, 0.802);
}

.pswd {
    /* border: 2px white solid; */
    width: 244px;
    margin: 40px auto;
    height: 50px;
}

.btn {
    /* border: 2px white solid; */
    width: 244px;
    margin: 40px auto;
    height: 50px;
    margin-bottom: 10px;
}

.btn button {
    color: white;
    background-color: #00007e;
    width: 104px;
    height: 33px;
    border-radius: 9px;
    border: 3px #ff4af6 solid;
}

.forget {
    /* border: 2px white solid; */
    padding: 2px 2px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.forget a {
    text-decoration: none;
    color: wheat;
    font-size: 26px;
    font-family: serif;
}


/* .style for style image */

.style {
    flex-shrink: 5;
    box-shadow: 34px 32px 60px -2px #0ff;
    border-radius: 45px;
    /* border: 1px solid #def50d; */
    height: 650px;
    width: 400px;
    background-image: url("https://source.unsplash.com/collection/coding/");
    background-repeat: no-repeat;
    background-size: 660px 650px;
    opacity: 0.8;
}


/* footer  */

footer {
    padding: 40px 0;
    background-color: #1c04b923;
    color: #4b4c4d;
    border-radius: 20px;
}

footer ul {
    /* border: rgb(255, 255, 255) solid 1px ; */
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer li {
    display: inline-block;
    padding: 0 10px;
}

footer ul a {
    color: rgb(0, 217, 255);
    text-decoration: none;
    opacity: 1;
}

footer ul a:hover {
    opacity: 1;
    color: #4b4c4d;
}

footer .social {
    /* border: 1px solid wheat; */
    text-align: center;
    padding-bottom: 1px;
}

footer .social>a img {
    width: 40px;
    height: 40px;
    /* display: inline-block; */
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 8px;
}

footer .social>a img:hover {
    opacity: 0.5;
}

footer .copyright {
    /* border: 1px wheat solid; */
    margin-top: 2px;
    text-align: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}


/* .sidenav for fixed navigation */

.sidenav {
    position: fixed;
    /* border: 2px white solid ; */
    width: 65px;
    right: 5px;
    top: 25%;
    bottom: 25%;
}

.sidenav img {
    display: block;
    height: 30px;
    margin: 25px auto;
    pointer-events: painted;
}

.author {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 85%;
    }
    .sidenav {
        display: none;
    }
    .style {
        display: none;
    }
    .navbar {
        justify-content: left;
    }
    #ham {
        display: block;
    }
    #hamcross {
        display: none;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #7b7bff62;
        margin: 25px;
        padding: 12px;
        width: 82%;
        border-radius: 10px;
    }
    .navbar ul li {
        margin: 15px;
    }
}